# dependencies
backend/node_modules/
frontend/node_modules/

# environment
.env
backend/.env
frontend/.env

# builds
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
dist/
build/
frontend/build/

# uploads
backend/uploads/*
!backend/uploads/.gitkeep

# macOS
.DS_Store
